
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

 a, a:visited  {
  color: #8B0000;
  text-decoration: none; }

  a:hover {
    color:  #8B0000;
    background-color: gold;
    text-decoration: underline; }




#input #notepad {
   width: 100%; min-height: 400px;
}

#output {
   width: 100%; padding-left: 10px;
}

#output-source {
   display: none;
   width: 100%; min-height: 400px;
}

#loading {
   display: none;
}

