<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>markdown notepad</title>

  <link href='notepad.css' rel='stylesheet'>
  <link href='markdown.css' rel='stylesheet'>
   
  <script src='http://code.jquery.com/jquery-1.9.1.js'></script>
  <script src='notepad.js'></script>
  <script>
    $(document).ready( function () {
      
      var notepad = markdown_notepad_new();

    });
  </script>
</head>
<body>


<table width='100%'>
 <colgroup>
   <col width='50%'>
   <col width='50%'>
 </colgroup>
 <tr>
   <td>
     <!-- first column -->

<div id='input'>
     <!-- <%= @welcome_markdown %> -->
    <textarea id='notepad' name='text' style='width: 100%; min-height: 500px;'>
    </textarea>
</div>

   </td>
   <td style='vertical-align: top;'>
     <!-- second column -->

<div id='output' class='markdown' style='width:100%; padding-left: 10px;'>
   <!-- <%= @welcome_html %> -->
</div>

   <!--  <%= @welcome_html %> -->
 <textarea id='output-source' style='display: none; width: 100%; min-height: 500px;'>
 </textarea>

  <div id='loading' style='display: none;'></div>
 
   </td>
 </tr>
 <tr>
  <td>
    <!-- first column -->
    
    <!--
    <span>
      Use
       <select id='notepad-lib' name='lib'>
         <% Markdown.libs.each_with_index do |lib,i| %>
           <option value='<%= lib %>'
               <% if i == 0 %>
                  selected='selected'
               <% end %> >
             <%= lib %></option>
          <% end %>
       </select>
    </span>
      -->

    <a id='output-update' href='#'>[ Update ]</a>

  </td>
  <td><!-- second column -->
    <a id='output-toggle' href='#'>[ Show HTML ]</a>
  </td>
 </tr>
</table>

</body>
</html>
